@(userLoggedIn: Boolean,
  betaFeedbackUrl: String,
  betaFeedbackUnauthenticatedUrl: String,
  showFeedbackLinkInBetaBanner: Boolean = true)

<div class="beta-banner">
    <p><strong class="phase-tag">BETA</strong><span>This is a trial service.
        @if( showFeedbackLinkInBetaBanner ) {
            Help us improve it - send your
            @defining(if (userLoggedIn) betaFeedbackUrl else betaFeedbackUnauthenticatedUrl) { linkUrl =>
              <a id="feedback-link"
                 href="@linkUrl"
                 data-sso="false"
                 data-journey-click="other-global:Click:Feedback">feedback</a>.
            }
        }
        </span>
    </p>
</div>