<ul class="platform-help-links">
    <li><a href='@Messages("footer.links.cookies.url")' target="_blank" data-sso="false" data-journey-click="footer:Click:Cookies">@Messages("footer.links.cookies.text")</a></li>
    <li><a href='@Messages("footer.links.privacy_policy.url")' target="_blank" data-sso="false" data-journey-click="footer:Click:Privacy policy">@Messages("footer.links.privacy_policy.text")</a></li>
    <li><a href='@Messages("footer.links.terms_and_conditions.url")' target="_blank" data-sso="false" data-journey-click="footer:Click:Terms and conditions">@Messages("footer.links.terms_and_conditions.text")</a></li>
    <li><a href='@Messages("footer.links.terms_and_conditions.url")' target="_blank" data-sso="false" data-journey-click="footer:Click:Help">@Messages("footer.links.help_page.text")</a></li>
</ul>