@this()

@(heading: String, form: Form[_], classes: Seq[String] = Seq.empty, dataJourney: Option[String] = None, forceDivToAppear: Boolean = true)(implicit messages: Messages)

@if(form.hasErrors || forceDivToAppear) {
    <div class="flash error-summary@if(form.hasErrors) { error-summary--show} @classes.mkString(" ")"
    id="error-summary-display"
    role="alert"
    aria-labelledby="error-summary-heading"
    tabindex="-1">
        <h2 id="error-summary-heading" class="h3-heading">@heading</h2>
        <ul class="js-error-summary-messages">
        @form.errors.map { error =>
            <li role="tooltip" @dataJourney.map(page => Html(s"""data-journey="${page}:error:${error.key}""""))>
                <a href="#@error.key"
                id="@{
                    error.key
                }-error-summary"
                data-focuses="@error.key">
                @Messages(error.message, error.args: _*)
                </a>
            </li>
        }
        </ul>
    </div>
}
